#header{
    background-color: lightslategray;
    text-align: center;
}

h1{
    color: blue;
}

blockquote{
    background-color: yellow;
    border: 1px dotted black;
}

.nav{
    text-align: center;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav ul li{
    margin: 0em 1em;
}

.gambar{
    text-align: center;
}

.jawa{
    color:blue;
    font-size: 50px;
    font-weight: bold;
}